@media (min-width: 768px) {
    header {
        padding: 1rem 3rem;
    }
    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
        box-shadow: none;
    }

        nav a {
            padding: 0.5rem 1rem;
            border-bottom: none;
            border-radius: 5px;
        }

            nav a:hover,
            nav a.active {
                background-color: rgba(255, 255, 255, 0.2);
            }

    main {
        max-width: 1200px;
        padding: 2rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
}
